<a href="https://colab.research.google.com/github/Divyasrilalam/OOP-LAB/blob/main/OOP_task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class circle():
  def __init__(self,r):
    self.radius=r
  def area(self):
    return 3.14*self.radius**2
  def perimeter(self):
    return self.radius*2*3.14
newcircle=circle(6)
print('radius=6')
print('area:',newcircle.area())
print('perimeter:',newcircle.perimeter())

radius=6
area: 113.04
perimeter: 37.68

In [ ]:
class employee:
  def __init__(self,name,emp_ID,branch,salary):
    self.name=name
    self.emp_ID=emp_ID
    self.branch=branch
    self.salary=salary
  def details(self):
    print('Name:',self.name,'Emp ID:',self.emp_ID,'Branch:',self.branch,'Salary:',self.salary)
E1=employee('Ramesh','IIITD200450','CSE','100000')
E2=employee('Srikar','IIITD200398','DSAI','102000')
E3=employee('Harikanth','IIITD200452','CSE','102000')
E4=employee('Praveen','IIITD200400','ECE','100000')
E5=employee('Arman','IIITD200440','DSAI','100000')
E1.details()
E2.details()
E3.details()
E4.details()
E5.details()

Name: Ramesh Emp ID: IIITD200450 Branch: CSE Salary: 100000
Name: Srikar Emp ID: IIITD200398 Branch: DSAI Salary: 102000
Name: Harikanth Emp ID: IIITD200452 Branch: CSE Salary: 102000
Name: Praveen Emp ID: IIITD200400 Branch: ECE Salary: 100000
Name: Arman Emp ID: IIITD200440 Branch: DSAI Salary: 100000

In [ ]:
class bankaccount:
  def __init__(self,account_holder_name,accountno,initialamount):
    self.account_holder_name=account_holder_name
    self.accountno=accountno
    self.balance=initialamount
  def details(self):
    print('Name:',self.account_holder_name,'Account no:',self.accountno,'Amount:',self.balance)

  def deposit(self):
      amount=int(input("Enter amount to be Deposited:"))
      self.balance += amount
        
  def withdraw(self):
      amount=int(input("Enter amount to be Withdrawn:"))
      if self.balance>=amount:
          print("You Withdrew:",amount)
      else:
          print("Insufficient balance")
 
  def checkbalance(self):
      print("Remaining Balance=",self.balance)
 

M=bankaccount('Rakesh','6893462440','60000')
M.details()
M.deposit()
M.withdraw()
M.checkbalance()

In [ ]:
class student:
  def __init__(self,name,USN,mathsmarks,englishmarks,physicsmarks):
    self.name=name
    self.USN=USN
    self.mathsmarks=mathsmarks
    self.englishmarks=englishmarks
    self.physicsmarks=physicsmarks
  def details(self):
    print('Name:',self.name,'Roll no:',self.USN,'Maths marks:',self.mathsmarks,'English marks:',self.englishmarks,'Physics marks:',self.physicsmarks)
S1=student('Ram','20bcs0200','95','94','92')
S1.details()

Name: Ram Roll no: 20bcs0200 Maths marks: 95 English marks: 94 Physics marks: 92

In [ ]:
class patients:
  def __init__(self,name,doa,symptoms,oxygen_level,dod):
    self.name=name
    self.doa=doa
    self.symptoms=symptoms
    self.oxygen_level=oxygen_level
    self.dod=dod

name = input("Enter the name of the patient:")
doa = input("Enter date of admission:"
symptoms = input("Enter all the symptoms:").split(" ")
oxygen_level = int(input("Enter oxygen level of the patient:"))
dod = input("Enter date of discharge:")

P1=patient()
P2=patient()
P3=patient()
P4=patient()
P5=patient()
P6=patient()
P7=patient()
P8=patient()

def level(self):
  if self.oxygen_level < 90:
    print("Put on oxygen support")
  else:
    print("Move to the general ward")

In [ ]:
class student:
  def __init__(self,name,age,roll_no):
    self.name=name
    self.age=age
    self.roll_no=roll_no
  def __eq__(self,other):
    return self.age==other.age
  def details(self):
    print('Name:',self.name,'Age:',self.age,'Roll_No:',self.roll_no)
S1=student('Rahul','21','33')
S2=student('Rohit','22','74')
S1.details()
S2.details()
print(S1==S2)

Name: Rahul Age: 21 Roll_No: 33
Name: Rohit Age: 22 Roll_No: 74
False

In [ ]:
class student:
  def __init__(self,name,usn):
    self.name=name
    self.usn=usn
  def details(self):
    print('Name:',self.name,'USN:',self.usn)
  @classmethod 
  def sem(cls):
    return cls('3')
  def institute(cls):
    return cls('Dharwad')

S=student('Mani','45')
S.details()

Name: Mani USN: 45

In [ ]:
class student:
  def __init__(self,name,roll_no,sem):
    self.name=name
    self.roll_no=roll_no
    self.sem=sem
  def details(self):
    print('Name:',self.name,'Roll no:',self.roll_no,'Sem:',self.sem)

class laptop:
  def __init__(self,cpu,ram,hard_disk):
    self.cpu=cpu
    self.ram=ram
    self.hard_disk=hard_disk
  def details(self):
    print('Cpu:',self.cpu,'Ram:',self.ram,'Hard_disk:',self.hard_disk)

S1=student('Riya','20','3')
S1.details()

L1=laptop('Intel_80386','16GB','Z7K500')
L1.details()

Name: Riya Roll no: 20 Sem: 3
Cpu: Intel_80386 Ram: 16GB Hard_disk: Z7K500